<tr>
  <td colspan="2">
    <%= form_tag(url, :method => :get, :id => "velocity_form") do %>
      <%= label_tag(:velocity_type_all) do %>
        <%= radio_button_tag(:velocity_type, "all", velocity_type == "all") %>
        <%= l(:label_velocity_all_pbis, :count => sprints_count) %>
      <% end %>
      &nbsp;&nbsp;&nbsp;

      <%= label_tag(:velocity_type_only_scheduled) do %>
        <%= radio_button_tag(:velocity_type, "only_scheduled", velocity_type == "only_scheduled") %>
        <%= content_tag('abbr', :title => l(:label_velocity_only_scheduled_pbis_hint)) do %>
          <%= l(:label_velocity_only_scheduled_pbis) %>
        <% end %>
      <% end %>
      &nbsp;&nbsp;&nbsp;

      <%= label_tag(:velocity_type_custom) do %>
        <%= radio_button_tag(:velocity_type, "custom", velocity_type == "custom") %>
        <%= l(:label_velocity_custom) %>
      <% end %>
      <%= text_field_tag(:custom_velocity, velocity, :size => 5,
                         :onclick => "$('#velocity_type_custom').prop('checked', true);") %>
      &nbsp;&nbsp;&nbsp;

      <%= button_tag(l(:button_update)) %>
    <% end %>
  </td>
</tr>